<ion-modal-view>
    <ion-header-bar class="bar bar-dark">
        <div class="buttons">
            <button class="button text-color button-clear button-size button-icon ion-ios-close-empty" ng-click="closeBlacklistModal()"></button>
        </div>
        <h1 class="title">Banned Users</h1>
    </ion-header-bar>
    <ion-content class="background-dark" overflow-scroll="true">
        <form ng-submit="userSearch('blacklist')">
            <ion-list>
                <ion-item class="item-input no-padding-top-bottom">
                    <input class="text-color" type="search" placeholder="Search Users" ng-model="user.search">
                    <button type="submit" class="button button-clear text-color icon ion-ios-search">
                    </button>
                </ion-item>
            </ion-list>
        </form>
        <div class="row" ng-if="loading">
            <div class="col" align="center">
                <ion-spinner></ion-spinner>
            </div>
        </div>
        <div ng-if="!loading">
            <ion-list class="list-borderless">
                <ion-item bindonce="users" class="item-icon-right" ng-repeat="user in users">
                    <h2 class="text-color" align="left" bo-text="user.username"></h2>
                    <button ng-if="!search" class="button button-clear text-color button-size icon ion-ios-close-empty"
                            ng-click="removeBlackList(user.u_id)">
                    </button>
                    <button ng-if="search" class="button button-clear text-color button-size icon ion-ios-plus-empty"
                            ng-click="addBlackList(user.u_id)">
                    </button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>