<ion-view>
    <ion-nav-bar class="bar-clear ionicon-shadow" align-title="left">
        <ion-nav-back-button style="text-shadow: 1px 1px 1px black;">
        </ion-nav-back-button>
        <ion-nav-title class="ionicon-shadow">
            Account Recovery
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="background-dark content-full" has-bouncing="false" scroll="false">
        <div class="content-center">
            <ion-list class="card background-dark">
                <form ng-submit="recoverUser()">
                    <label class="item item-input user-input">
                        <span class="text-color input-label">Email:</span>
                        <input maxlength="50" type="email" ng-model="userInfo.email">
                    </label>
                    <div class="padding">
                        <button type="submit" class="button button-block button-dark">
                            Send Recovery
                        </button>
                    </div>
                </form>
            </ion-list>
        </div>
    </ion-content>
</ion-view>