<ion-view>
    <ion-nav-bar class="bar-clear ionicon-shadow" align-title="left">
        <ion-nav-back-button style="text-shadow: 1px 1px 1px black;">
        </ion-nav-back-button>
        <ion-nav-title board-info class="ionicon-shadow">
            {{boardInfo.b_name}}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-size button-clear icon ion-ios-trash ionicon-shadow" ng-click="deleteConfirm()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-bouncing="false" scroll="false" class="background-dark" style="top: 0 !important;">
        <div ng-if="loading">
            <div style="display: block; height: 40px"></div>
            <div class="row">
                <div class="col" align="center">
                    <ion-spinner></ion-spinner>
                </div>
            </div>
        </div>
        <div ng-show="!loading">
            <canvas id="userCanvas" class="canvas-view" image-video></canvas>
            <div class="video">
                <video webkit-playsinline id="userVideo" loop></video>
            </div>
        </div>
        <ion-footer-bar class="bar-clear">
            <div class="row row-center ionicon-shadow">
                <div align="left" class="col">
                    Views: {{pictureInfo.count}}
                </div>
                <div align="right" class="col">
                    Status: {{pictureInfo.approved}}
                </div>
            </div>
        </ion-footer-bar>
    </ion-content>

</ion-view>